* {
    color: white
}

body {
    margin: 0%;
}

#header {
    min-height: 100vh;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}

#header h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

#main {
    padding-left: 20%;
    padding-right: 20%;
    background-color: purple;
}

#main p {
    font-size: 20px;
}

#main h2 {
    font-size: 200%;
}

iframe {
    height: 400px;
    width: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: red;
}

#footer {
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px;
}

@media only screen and (max-width: 800px) {
    #header h2 {
        padding: 0% 1%;
        font-size: 16px;
    }
    #main {
        padding-left: 1%;
        padding-right: 1%;
    }
    #main p {
        font-size: 16px;
    }
    #main h2 {
        font-size: 200px;
    }
}